<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ejs</title>
</head>
<body>
<body>
    <%- include("navbar")%>
  <% student.forEach((curElem, index) => { %>
    <p><%= curElem.name %></p>
    <p><%= curElem.age %></p>
    <p><%= curElem.course %></p>
    <p><%= curElem.semester %></p>
    <p><%= curElem.college %></p>
    <hr>
  <% }) %>
</body>
</body>
</html>